[Unit]
Description=API Python Flask sur EC2
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/mon-api-python
ExecStart=/home/ec2-user/mon-api-python/venv/bin/python /home/ec2-user/mon-api-python/app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
